div{
    border: 1px solid black;
}

#container{
    width: 600px;
    margin: 0 auto;
}

#header{
    height: 80px;
}

#left{
    float:left;
    width: 50%;
}

#content{
    float: right;
    width: 50%;
}

#footer{
    clear: both;
}